---
import Resets from '@julian_cataldo/astro-resets/Resets.astro';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<style is:global>
  @font-face {
    font-family: 'BrutalType';
    src: url('/fonts/BrutalType-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }

  :root {
    --bg-primary: #0b0c0f;
    --text-primary: #f2f4fb;
    --text-secondary: #3a3f42;
    --text-link: #697077;
  }

  html {
    font-size: 1.2em;
    font-family: system-ui, sans-serif;
    background-color: var(--bg-primary);
  }

  html,
  body {
    min-width: 100vw;
    min-height: 100vh;
    overflow: unset;
  }
</style>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      href="/public/fonts/BrutalType-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <Resets fontSmoothing={true} fontSystem={true} scrollSmooth={true} borderBox={true} scrollBarKeep={true} />
  </head>

  <body style="opacity: 0;">
    <script>
      import { displayWhenReady } from '../utils/display-when-ready';
      displayWhenReady();
    </script>

    <slot />

    <noscript>
      <style is:inline>
        body {
          opacity: 1;
        }
      </style>
    </noscript>
  </body>
</html>
